body
{
    font-family: Roboto;

}
input[type="checkbox"]
{
    width: 30px;
    height: 30px;
    position: relative !important;
    opacity: 1 !important;
}
main
{
    
    margin-top: 2em;
     width: 80%;
    margin-left: 10%;
     background-color: aliceblue;
    padding-top: 3rem; 
    
} 
div
{ 
    margin-left: 33%;
    width: 33%;   
}
div h1
{
    margin-bottom: 6px;
    font-size: 2rem;
}
#add-New-To-Do
{
    padding: 0.5em;
    font-size: 0.8rem;
    color: cadetblue
}


span
{
background-color:yellow;
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between
}
  

